.container {
    max-width: 1140px;
    margin: 0 auto;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

header {
    background-color: #4C5454;
    border-style: none none solid none;
    border-bottom-width: 20px;
    border-color: #FF715B;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    height: 55px;
    padding: 10px 0 ;
}

.logo:hover {
fill: aqua !important;
}

nav {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

nav li {
    position: relative;
    padding: 0 25px;
    height: 75px;
    display: flex;
}

nav a {
    z-index: 1;
    color: white;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 30px 20px;
}

nav a:hover {
    color: white;
}

nav li::before {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: #FF715B;
    right: 0;
    z-index: 0;
    top: 33.33%;
    transition: all 0.5s;
}

nav li::after {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: #FF715B;
    left: 0;
    z-index: 0;
    bottom: 0;
    transition: all 0.5s;
}

nav a::before {
    position: absolute;
    content: "";
    height: 33.33%;
    width: 0;
    background-color: #FF715B;
    bottom: 66.66%;
    left: 0;
    transition: all 0.5s;
}

nav li:hover:before,
nav li:hover::after,
nav li:hover a::before{
   width: 100%;
}

.para1 {
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px
}

.section1 {
    background-image: url("/images/HomeBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 80px;
    color: white;
}
.section1 button {
    background-color: #FF715B;
    border: none;
    border-radius: 25px;
    color: white;
    height: 40px;
    width: 150px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}
.buttons1 {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    
}

.login-container {
	padding-top:60px;
	padding-bottom:60px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

#HomeH1 {
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    text-align: center;
}


#HomeH3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: center;
}

.homeInfo {
    padding-top: 20px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.homeInfo h3 {
    font-size: 22px;
}

.homeInfo p {
    font-size: 18px;
}

#registerForm,
#loginForm {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
    text-align: center;
}
#registerForm h2,
#loginForm h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

input[type=text] {
    
    padding: 10px;
    margin-top: 30px;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.10);
    transition: .3s box-shadow;
    border: none;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: 40%;
}

input[type=text]:hover {
    box-shadow:0 0 4px rgba(0,0,0,0.5);
}

button[type=submit] {
    background-color: #FF715B;
    color: white;
    padding: 10px;
    margin-top: 30px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.10);
    border: none;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    width: 41%;
}